.hidden {
	display: none;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.2rem;
}

/*
main {
	max-width: 90%;
}
*/
  
input {
	font-size: 1.2rem;
	padding: 4px;
}

.product {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
img {
	max-width: 400px;
	height: auto;
	display: block;
}

form {
    display: flex;
    flex-direction: column;
}

button {
	padding: 8px 16px;
	font-size: 1.2rem;
	background-color: $pink;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	color: white;
}


// ---------- CART -----------
.cart {
	img {
		max-height: 12vh;
		width: auto;
	}
}

.cart-item {
	display: flex;
	flex-direction: row;
}

.cart-name {
	font-style: italic;
}

.cart-total {
	display: flex;
	flex-direction: column;
	span {
		font-style: italic;
		font-size: 1rem;
	}
	.total-order-sum {
		font-style: normal;
		font-size: 1.2rem;
	}
}



// ---------- FILTER ----------

#filter-products {

	.flex {
		max-width: 50%;
		display: flex;
		justify-content: space-around;
	}
}


// ---------- PAYMENT ----------

.payment-options {
	background-color: $cyan;
	border-radius: 8px;
	padding: 8px;
	border: 1px solid #262626;
  
	button {
	  padding: 8px 16px;
	  font-size: 1.2rem;
	  background-color: $pink;
	  border: 0;
	  border-radius: 8px;
	  cursor: pointer;
	  color: white;
	  &:disabled {
		background-color: #b5b5b5;
		cursor: not-allowed;
	  }
	}
  
	.selector {
		margin-block: 16px;
		text-align: center;
	}
  
	input.small {
		width: 80px;
	}
  
	.card, .invoice {
	  label {
		display: flex;
		gap: 8px;
		margin-block: 8px;
		align-items: center;
		justify-content: space-between;
	  }
	}
  
}