.product {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
img {
	max-width: 500px;
	height: auto;
	display: block;
}

form {
    display: flex;
    flex-direction: column;
}

#cart-summary {
    background-color: $yellow;
}

#filter-products {
    background-color: $brown;

}