.product {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
img {
	max-width: 500px;
	height: auto;
	display: block;
}

form {
    display: flex;
    flex-direction: column;
}


// ---------- CART -----------
.cart {
	background-color: $brown;
	img {
		max-height: 16vh;
		width: auto;
	}
}

.cart-item {
	display: flex;
	flex-direction: row;
}

.cart-name {
	font-style: italic;
}

#cart-summary {
    background-color: $yellow;
}



// ---------- FILTER ----------

#filter-products {
    background-color: $brown;
}