.hidden {
	display: none;
}

.product {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
img {
	max-width: 500px;
	height: auto;
	display: block;
}

form {
    display: flex;
    flex-direction: column;
}


// ---------- CART -----------
.cart {
	background-color: $brown;
	img {
		max-height: 16vh;
		width: auto;
	}
}

.cart-item {
	display: flex;
	flex-direction: row;
}

.cart-name {
	font-style: italic;
}

#cart-summary {
    background-color: $yellow;
}



// ---------- FILTER ----------

#filter-products {
    background-color: $brown;
}

.payment-options {
	background-color: rgb(210, 231, 231);
	border-radius: 8px;
	padding: 8px;
	border: 1px solid #262626;
  
	button {
	  padding: 8px 16px;
	  font-size: 1.2rem;
	  background-color: green;
	  border: 0;
	  border-radius: 8px;
	  cursor: pointer;
	  color: white;
	  &:disabled {
		background-color: #b5b5b5;
		cursor: not-allowed;
	  }
	}
  
	.selector {
		margin-block: 16px;
		text-align: center;
	}
  
	input.small {
		width: 80px;
	}
  
	.card, .invoice {
	  label {
		display: flex;
		gap: 8px;
		margin-block: 8px;
		align-items: center;
		justify-content: space-between;
	  }
	}
  
}