$cyan: #00DDFF;
$yellow: #FFFCE5;
$pink: #EB0071;
$teal: #07333b;
$brown: #6B6536;
$redpink: #EB174E;
$lightteal: #328896;
$darkyellow: #EBD100;

$colors: #FFFCE5 #FFF #FFFCE5 #FFF #FFFCE5 #FFF #FFFCE5 #FFF #FFFCE5 #FFF #FFFCE5 #FFF


