.material-icons {
    color: $lightteal;
}

button {
    .material-icons {
        color: #FFF;
        font-size: 2rem;
    }
}

/*
.material-symbols-outlined {
    color: red;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}*/

/*
.material-symbols-filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}*/
