.cart {
}

#products-list {
    flex-direction: row;
    flex-wrap: wrap;

}

.product {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}


form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    input {
        width: 40vw;
    }
}

.payment-options {
    width: 80%;
}

